#v-pills-tab > ul {
  border-radius: 10px;
}

.nav-pills li:first-child .nav-link  {
  border-radius: 5px 5px 0 0!important;
}

.nav-pills li .nav-link  {
  color: var(--black);
}

.nav-pills li .nav-link:hover  {
  background: var(--secondary);
  color: var(--white);
}

.nav-pills .nav-link.active {
  background: var(--border);
  color: var(--black);
}

.card .card-header {
  font-size: 1.3rem;
  font-weight: 600;
  /* border: 1px solid #00000020; */
  background-color: var(--secondary);
  color: var(--white);
}

.card .card-header a {
  color: white;

}

.card .card-header a:hover {
  background: white;
  color: var(--secondary);
  border-radius: 3px;
  transition: var(--transition);
}

.profile .list-group-item .title {
  font-weight: 600;
  font-size: 12px;
}

.orders .list-group-item .order-no {
  font-size: 14px;
  color: grey;
}

.orders .list-group-item .d-status {
  background: var(--secondary);
  font-size: 10px;
  color: var(--white);
  padding: 0px 2px;
}

.orders .list-group-item .d-btn {
  color: var(--secondary);
}

.orders .list-group-item .d-btn:hover {
  opacity: .8;
}

.orders .list-group-item a {
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
}

.orders .list-group-item a:hover {
  color: var(--secondary);
}

.wishlist .pro-name a,
.wishlist a i:hover {
  color: var(--black);
}

.wishlist .pro-name a:hover,
.wishlist a i:hover {
  color: var(--secondary);
}

.orders .pro-qty,
.wishlist .pro-price {
  font-size: 12px;
}

.wishlist .pro-price {
  font-weight: 600;
}

.wishlist .list-group-item .button:hover {
  color: var(--white);
}

.form-floating input,
.details select {
  border: none;
  border-bottom: 1px solid var(--border);
  border-radius: 0;
}

.form-floating input:focus,
.details select:focus  {
  outline: none;
  box-shadow: none;
  border-color: var(--secondary);
}

.changePwd .button:hover
.wishlist .list-group-item .button:hover {
color: var(--white);
}

.accordion-button:focus {
  background: var(--secondary);
  outline: none;
  border: none;
  box-shadow: none;
  color: var(--white);

}

.accordion-button:not(.collapsed) {
  background: var(--secondary);
  color: var(--white);
}

.accordion-body {
  background: var(--body);
}

.accordion-body .list-group-item {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
}

.add-btn {
  font-size: 12px;
  cursor: pointer;
}

.shippingAddress .title {
  font-weight: 600;
}

.shippingAddress .content {
  font-size: 12px;
  color: grey;
}