#v-pills-tab > ul {
  border-radius: 10px;
}

.nav-pills li:first-child .nav-link  {
  border-radius: 5px 5px 0 0!important;
}

.nav-pills li .nav-link  {
  color: var(--black);
  font-size: 1.5rem;
}

.nav-pills li .nav-link:hover  {
  background: var(--secondary);
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
}

.nav-pills .nav-link.active {
  background: var(--border);
  color: var(--black);
  font-size: 1.7rem;
  font-weight: 600;
}

.card .card-header a {
  color: white;

}

.card .card-header a:hover {
  transform: scale(1.2);
  transition: var(--transition);
}

/* ==== Profile Start ==== */

.profile .list-group-item .title {
  font-weight: 600;
  font-size: 1.5rem;
}

.profile .list-group-item .content {
  font-size: 1.3rem;
  color: grey;
  line-height: 1.5rem;
}
/* ==== Profile End ==== */

/* ==== Orders Start ==== */
.orders .list-group-item .pro-name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.orders .list-group-item .order-no {
  font-size: 1.5rem;
  color: grey;
}

.orders .list-group-item .d-status {
  background: var(--secondary);
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  padding: 2px;
}

.orders .list-group-item .d-date {
  font-size: 1.2rem;
}

.orders .list-group-item a {
  font-weight: 600;
  font-size: 14px;
}
/* ==== Orders End ==== */

/* ==== Wishlist Start==== */
.wishlist .pro-name a,
.wishlist a i:hover {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
}

.wishlist .pro-name a:hover,
.wishlist a i:hover {
  color: var(--secondary);
}

/* .orders .pro-qty, */
.wishlist .pro-qty {
  font-size: 1.3rem;
}

.wishlist .pro-price {
  font-weight: 600;
  font-size: 1.3rem;
}

.wishlist .list-group-item .button:hover {
  color: var(--white);
}
/* ==== Wishlist End ==== */

/* ==== Change Password Start==== */
 /* ==== Add New Address Modal Form ==== */
 .changePwd-form,
 .details-form,
 .add-new-address-form {
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}

.changePwd-form h3,
.details-form h3,
.add-new-address-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.changePwd-form .box,
.details-form .box,
.add-new-address-form .box,
.edit-existing-address-form .box{
  width: 100%;
  margin:.7rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}

.changePwd-form p,
.details-form p,
.add-new-address-form p,
.edit-existing-address-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--primary);
}

.changePwd-form p a,
.details-form p a,
.add-new-address-form p a,
.edit-existing-address-form p a{
  color:var(--secondary);
}
/* ==== Change Password End */

.shippingAddress .name {
  font-size: 1.5rem;
  font-weight: 600;
}

.shippingAddress .list-group-item i:hover {
  color: var(--secondary);
  transform: scale(1.2);
}

.shippingAddress .default {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--secondary);
}

.shippingAddress .set-default {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--primary);
}

.shippingAddress .set-default:hover {
  color: var(--secondary);
}

.shippingAddress .content {
  font-size: 12px;
  color: grey;
}

.shippingAddress .content {
  font-size: 12px;
  color: grey;
}

.scroll {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.accordion-button {
  font-size: 1.5rem;
}

.accordion-button:focus {
  background: var(--secondary);
  outline: none;
  border: none;
  box-shadow: none;
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;

}

.accordion-button:not(.collapsed) {
  background: var(--secondary);
  color: var(--white);
}

.accordion-body {
  background: var(--body);
}

.add-btn {
  font-size: 12px;
  cursor: pointer;
}

.accordion-body .add-btn {
  color: var(--secondary);
}

.accordion-body .add-btn:hover {
  text-decoration: underline;
}

.modal-header {
  font-size: 1.7rem;
  font-weight: 600;
}

.modal-header i:hover {
  color: var(--secondary);
}

.list-group-item .sub-heading {
  font-size: 1.3rem;
  font-weight: 600;
} 


.list-group-item .content {
  font-size: 1.3rem;
  line-height: 2rem;
  color: grey;
}
