
.card-header {
  background: var(--secondary);
  color: var(--white);
}

.card .list-group .bi-trash-fill {
  color: var(--secondary);
}

.card .list-group .bi-trash-fill:hover {
  color: var(--primary);
}

.card .list-group h5 {
  font-weight: 600;
}

.card .list-group a {
  color: var(--black);
}

.cart_items a:hover {
  color: var(--secondary);
}

.card .list-group input {
  width: 30%;
  background: var(--body);
  padding: 8px 8px 12px;
}

.card .list-group input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}

.card .list-group input:focus {
  outline: none;
}

.card a.button{
  background: var(--secondary);
  color: var(--white);  
}

.card a.button:hover{
  background: var(--primary);
  color: var(--white);  
}
