.login {
  width: 70%;
}

.login .bg-img {
  background: url(/assets/img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.login .bg-img .bg-overlay {
  background-color: rgb(81 81 81 / 28%);
  height: 100%;
}

.login-form{
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}

.login-form h3{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
}

.login-form .box{
  width: 100%;
  margin:1rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}

.login-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--primary);
}

.login-form p a{
  color:var(--secondary);
}
.login-form p a:hover{
  text-decoration: underline;
}

.fb-btn {
  background: #1878f2;
}

.goo-btn {
  background: #e13f2a;
}

.social-btn p,
.acc-exist p,
.form .form-check label,
.forgot-password {
  font-size: 10px;
  font-weight: 500;
}

.acc-exist a,
.forgot-password a {
  color: var(--primary);
}

@media only screen and (max-width: 991px) {
  body > section > div > div.col.p-5.bg-white > div > p{
    font-size: 12px;
  }
}


