.side-menu .categories ul li:hover {
  color: var(--primary);
}

.side-menu .categories ul li ul {
  /* display: none; */
  z-index: 10;
  /* top: 140px; */
  border: 1px solid gray;  
}

.side-menu .categories ul li:hover ul {
  /* display: block; */
  /* height: 300px; */
  margin-left: 22%;
  padding: 0 50px 0 10px;
  position: fixed;
  border-radius: 5px ;
  background: var(--white);
}
