 
.first-nav .dropdown-menu,
.second-nav .dropdown-menu {
  box-shadow: var(--dropdown-box-shadow);
  outline: none;
  border: none;
}
 
.first-nav .dropdown-menu a,
.second-nav .dropdown-menu a {
  font-weight: 500;
  font-size: 12px;
  background: transparent;
  color: var(--dropdown);
  padding: 10px 20px;
  transition: var(--transition);
}

.first-nav .my-acc .dropdown-menu a:hover,
.second-nav .dropdown-menu a:hover {
  color: var(--white);
  background: var(--primary);
}

.first-nav .mini-cart .dropdown-menu {
  left: -300px;
  width: 20rem;
}

.first-nav .mini-cart .dropdown-menu img {
  width: 5rem;
}

.first-nav ul .pro-name {
  font-size: 12px;
  font-weight: 600;
}

.first-nav ul .pro-price {
  font-size: 12px;
  font-weight: 500;
}

.first-nav .pro-remove i {
  color: var(--secondary);
}

.first-nav .pro-remove i:hover {
  color: var(--primary);
  box-shadow: none;
}

.first-nav .mini-cart .view_cart,
.first-nav .mini-cart .check_out {
  background: var(--secondary);
  color: var(--white);
  padding: 8px 12px;
  font-size: 12px;
}

.first-nav .mini-cart .view_cart:hover,
.first-nav .mini-cart .check_out:hover {
  background: var(--primary);
  color: var(--white);
  padding: 8px 12px;
  font-size: 12px;
}

.second-nav .input-group .search-btn {
  background: var(--secondary);
  color: var(--white);
}

.second-nav .input-group .btn:hover,
.second-nav .input-group .btn.show {
  /* background-color: transparent; */
  border: none;
}

.second-nav .input-group input:focus,
.navbar-toggler:focus {
  box-shadow: none;
}

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
  color: var(--black);
}

#bar:hover,
#bar:active {
  color: var(--primary);
}

#offcanvasNavbar > div > ul {
  gap: 1rem;
}

#select {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--border);
}

/* ====== Mobile Nav ====== */

.navbar-light,
.navbar-toggler {
  border: none;
  outline: none;
}