:root {
  --secondary: #fb8500;
  --primary: #1cacd9;
  --white: #fff;
  --black:#130f40;

  --body: #f6f6f6;
  --border: #eee;
  --dropdown-box-shadow: 0 0px 15px -8px var(--primary);
  --dropdown: #555555;  
  --transition: 0.3s ease;
  --breadcrumb: linear-gradient(107deg, rgba(28,151,217,1) 0%, rgba(28,172,217,1) 85%, rgba(28,148,217,1) 100%); 
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  /* transition: all .2s linear; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scroll-padding-top: 7rem; */
  list-style-type: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--body);
  line-height: 1rem !important;
  letter-spacing: 0.03rem !important;
  color: var(--black);
}


a {
  text-decoration: none;
  color: inherit;
} 

.button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--primary);
  color: var(--white);
  padding: 10px 30px;
  transition: var(--transition);
  box-shadow: none;
}

.close-button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  background: red;
  color: var(--white);
  padding: 10px 30px;
  transition: var(--transition);
  box-shadow: none;
}

.count-btn {
  padding: 12px;
  background: var(--body);
  color: black;
}

.button:hover {
  background-color: var(--secondary);
}

.close-button:hover {
  background: rgba(255, 0, 0, 0.457);
}

/* hr {
  width: 100%;
  margin: 0 0 1rem 0;
  border-color: var(--primary);
} */

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.8rem;
  color: goldenrod;
}

/* ==== Header Navigation Start==== */
header{
  box-shadow: var(--box-shadow);
  background:#fff;
}
.header{
  position: relative;
  top:0; left:0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 2rem 9%; */
  text-transform: capitalize;
}

/* ==== Top Header My Account ==== */

.top-header .offer{
  font-size: 1.7rem;
  background: var(--secondary);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);;
}

.top-header #account-btn {
  cursor: pointer;
  font-size: 1.7rem;
}

.top-header .my-account{
  position: absolute;
  top:5%; right:-110%;
  padding:1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width:35rem;
  background: #fff;
}

.top-header .my-account.active{
  right:2rem;
  transition: .1s linear;
  z-index: 1001;
}

.top-header .my-account .box{
  display: flex;
  align-items: center;
  gap:1rem;
  position: relative;
  margin:1rem 0;
}

.top-header .my-account .box img{
  height:10rem;
}

.top-header .my-account .box .fa-trash{
  font-size: 2rem;
  position: absolute;
  top:50%; right:2rem;
  cursor: pointer;
  color:var(--primary);
  transform: translateY(-50%);
}

.top-header .my-account .box .fa-trash:hover{
  color:var(--secondary);
}

.top-header .my-account .box .content h3{
  color:var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.top-header .my-account .box .content span{
  color:var(--primary);
  font-size: 1.6rem;
}

.top-header .my-account .box .content .quantity{
  padding-left: 1rem;
}

.top-header .my-account .total{
  font-size: 2.5rem;
  padding:1rem 0;
  text-align: center;
  color:var(--black);
}

.top-header .my-account .btn{
  display: block;
  text-align: center;
  margin:1rem;
}
/* ==== Top Header My Account End ==== */

.header .logo{
  width: 50px;
}

.header .navbar a{
  font-size: 1.7rem;
  margin:0 2rem;
  color:var(--black);
}

.header .navbar a:hover{
  color:var(--secondary);
}

.header .navbar .dropdown-menu {
  border: none;
  box-shadow: var(--box-shadow);
  margin-top: 2rem;
}

.header .navbar .dropdown-menu a.dropdown-item:hover {
  background: transparent;
  
}

.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover{
  background: var(--secondary);
  color:#fff;
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top:110%; right:-110%;
  width: 50rem;
  height:5rem;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form.active{
  right:2rem;
  transition: .1s linear;
}

.header .search-form input{
  height:100%;
  width:100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color:var(--black);
  padding:0 1.5rem;
}

.header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color:var(--black);
  cursor: pointer;
}

.header .search-form label:hover{
  color:var(--secondary);
}


/* ==== Header Shopping Cart Start ==== */
.header .shopping-cart{
  position: absolute;
  top:110%; right:-110%;
  padding:1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width:35rem;
  background: #fff;
}

.header .shopping-cart.active{
  right:2rem;
  transition: .1s linear;
}

.header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap:1rem;
  position: relative;
  margin:1rem 0;
}

.header .shopping-cart .box img{
  height:10rem;
}

.header .shopping-cart .box .fa-trash{
  font-size: 2rem;
  position: absolute;
  top:50%; right:2rem;
  cursor: pointer;
  color:var(--primary);
  transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
  color:var(--secondary);
}

.header .shopping-cart .box .content h3{
  color:var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
  color:var(--primary);
  font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
  padding-left: 1rem;
}

.header .shopping-cart .total{
  font-size: 2.5rem;
  padding:1rem 0;
  text-align: center;
  color:var(--black);
}

.header .shopping-cart .btn{
  display: block;
  text-align: center;
  margin:1rem;
}
/* ==== Header Shopping Cart Start ==== */


/* ==== Header Login Form Start ==== */
.header .login-form{
  position: absolute;
  top:110%; right:-110%;
  width:35rem;
  box-shadow: var(--box-shadow);
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active{
  right:2rem;
  transition: .1s linear;
}

.header .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box{
  width: 100%;
  margin:.7rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}

.header .login-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--primary);
}

.header .login-form p a{
  color:var(--secondary);
  text-decoration: underline;
}

/* ==== Header Navigation End==== */


.breadcrumb-nav {
  background: rgb(28,151,217);
  background: linear-gradient(107deg, rgba(28,151,217,1) 0%, rgba(28,172,217,1) 85%, rgba(28,148,217,1) 100%); 
}

.breadcrumb-item a {
  color: var(--white);
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--white);
}

.breadcrumb-item.active {
  color: var(--secondary);
}



/* ====== Side Menu ====== */

.side-menu .categories {
  border-radius: 5px 5px 0px 0px;
  background: white;
}

.side-menu .categories .head{
  border-radius: 5px 5px 0 0;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 800;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.side-menu .categories .body {
  font-size: 1.7rem;
}

.side-menu .list-group-item .dropdown-toggle{
  font-size: 1.7rem;
  text-decoration: none;
}

.side-menu .categories ul li ul {
  box-shadow: var(--box-shadow);  
  font-size: 1.7rem;
}

.side-menu i{
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}

/* ====== Services ====== */
.services .service {
  background: var(--white);
  border-radius: 5px;
}








/*====== Top Product ====== */

.title_outer {
  position: relative;
}

.top_product .title_outer::before {
  border-top: 1px solid #d6d6d6;
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 28px;
  z-index: -1;
}

.top_product .heading {
  background-color: var(--body);
  font-size: 2rem;
  font-weight: 700;
}


.owl-carousel img{
  height: 30vh;
}

.owl-carousel .product_thumb {
  border-radius: 20px;
  background: var(--white);
  padding-bottom: 12px;
  color: var(--black);
  cursor: pointer;
}

.owl-carousel .product_thumb p {
  font-size: 1.5rem;
  font-weight: 600;
}

.owl-carousel .item .button-grp {
  text-align: center;
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s all;
  color: var(--black);
}

.owl-carousel .item:hover .button-grp {
  transform: translateY(-100px);
  opacity: 1;
}

.owl-carousel .item .button-grp i {
  font-weight: 700;
  background: var(--body);
}

.owl-carousel .item .button-grp i:hover {
  background: var(--secondary);
}

/*====== Top Categories ====== */
.top_categories .banner:hover {
  transform: perspective(10px)
} 

/*====== Featured ====== */
.featured .heading {
  font-size: 2rem;
  font-weight: 700;
}

.featured .sub-heading {
  font-size: 1.3rem;
  font-weight: 400;
}

.product{
  cursor: pointer;
  margin-bottom: 2rem;  
}

.product .product-img-wrap img {
  width: 20vw;
  height: 10vw;
  box-sizing: border-box;
  object-fit: contain;
}

.product .product-content-wrap {
  background: var(--border);
}

.product:hover {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .button-grp {
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s all;
}

.product:hover .button-grp {
  transform: translateY(-150px);
  opacity: 1;
}

.product .button-grp i {
  font-weight: 700;
  background: var(--body);
}

.product .button-grp i:hover {
  background: var(--secondary);
}

.pro-heading, .p-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal h5 {
  font-size: 0.8rem;
  font-weight: 600;
}

.modal h4 {
  font-size: 1rem;
  font-weight: 600;
}

.modal a {
  color: var(--secondary);
  font-weight: 600;
}

#featuredQuickview .modal-dialog {
  max-width: 800px;
}

#featuredQuickview > div > div > div.modal-body > div > div:nth-child(2) > div > div.d-block.my-3 > input {
  background: var(--body);
  padding: 8px 8px 12px;
  width: 10%;

}

#featuredQuickview > div > div > div.modal-body > div > div:nth-child(2) > div > div.d-block.my-3 > input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}

#featuredQuickview > div > div > div.modal-body > div > div:nth-child(2) > div > div.d-block.my-3 > input:focus {
  outline: none;
}


@media only screen and (max-width: 991px) {
  #featuredQuickview .modal-dialog {
    max-width: 800px;
  }
}

/* ====== Exclusives ====== */
.exclusive{
  background: url(/assets/img/exclu.jpg);
  background-size: cover;
  height: 50vh;
}

.exclusive h3 {
  font-size: 2rem;
}

.exclusive a {
  background: var(--secondary);
}

.exclusive a:hover {
  background: var(--primary);
  color: var(--white);
}

.card-img-overlay {
  background: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;

}


/* ====== footer ====== */

.footer {
  background: var(--black);
  color: var(--white);
  font-size: 14px;
}

.footer a {
  color: var(--white);
}

.footer a:hover {
  color: var(--primary);
}

.footer .first_footer {
  background: var(--secondary);
}

.footer .first_footer .input-group .form-control,
.footer .first_footer .input-group .button {
  border-radius: 0;
}

.footer .first_footer .input-group .button {
  background: var(--primary);
  color: var(--white)
}

.footer .first_footer .button:hover {
  background: var(--black);
  border: none;
  scale: 0;
}


.footer .third_footer ul,
.footer .fourth_footer ul {
  padding-left: 0;
}

.footer .third_footer .social-links i {
  background: var(--primary);
  font-size: 20px;
  transition: var(--transition);
  border-radius: 5px;
}

.footer .third_footer .social-links i:hover {
  background: var(--secondary);
  color: var(--white);
}

.footer .fourth_footer .item_row {
  border-right: 0.5px solid var(--primary);
}

.footer .fourth_footer .items {
  float: left;
  margin-bottom: 20px;
}

.footer .fourth_footer .item_name1 li  {
  float: left;
  margin: 4px 0;
  padding: 0px 5px;
  border-right: 0.5px solid var(--white);
}

.footer .fifth_footer p {
  font-size: 12px;
}

/* .side-menu .categories {
  padding: 1rem !important;
  background: var(--white);
} */

@media only screen and (max-width: 991px) {
  body > header > nav > div > button:hover,
  body > header > nav > div > button:focus {
    background-color: var(--primary);
    outline: none;
  }

  body > nav > div > button:hover #bar,
  body > nav > div > button:focus #bar, 
  body > nav > div > button #bar {
    background-color: var(--primary);
  }

  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0;
  }

  .side-menu .categories .head #close-btn {
    display: none;
  }

  #side-submenu {
    display: none;
  }

  /* ====== Featured ====== */
  .product .product-img-wrap img {
    width: 30vw;
    height: 30vw;
  }

    /* ====== Owl Carousel ====== */
  .owl-carousel img {
    height: 40vh;
  }
}

@media only screen and (max-width: 767px) {
    .product .product-img-wrap img {
    width: 70vw;
    height: 50vw;
  }

   /* ====== Owl Carousel ====== */
   .owl-carousel img {
    height: 40vh;
  }
}



/* media queries  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: inline-block;
  }

  .header .search-form{
      width:90%;
  }

  .header .navbar{
      position: absolute;
      top:110%; right:-110%;
      width:30rem;
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      background: #fff;
  }

  .header .navbar.active{
      right:2rem;
      transition: .4s linear;
  }

  .header .navbar a{
      font-size: 2rem;
      margin:2rem 2.5rem;
      display: block;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 2.5rem;
  }

  .footer{
      text-align: center;
  }

  .footer .box-container .box .payment-img{
      margin: 2rem auto;
  }

}