:root {
  --secondary: #fb8500;
  --primary: #1cacd9;
  --white: #fff;
  --yellow: #ffc107;
  --black: #000;
  --body: #f6f6f6;
  --border: #eee;
  --dropdown-box-shadow: 0 0px 15px -8px var(--primary);
  --dropdown: #555555;  
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--body);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

h6 {
  color: var(--white);
}

ul {
  font-weight: 500;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--primary);
  color: var(--white);
  padding: 10px 30px;
  transition: var(--transition);
  box-shadow: none;
}

.close-button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  background: red;
  color: var(--white);
  padding: 10px 30px;
  transition: var(--transition);
  box-shadow: none;
}

.count-btn {
  padding: 12px;
  background: var(--body);
  color: black;
}

.button:hover {
  background-color: var(--secondary);
}

.close-button:hover {
  background: rgba(255, 0, 0, 0.457);
}

hr {
  width: 100%;
  margin: 0 0 1rem 0;
  border-color: var(--primary);
}

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.8rem;
  color: goldenrod;
}
 
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  top: 0;
  left: 0;
  padding: 1rem 0;
}

.navbar-light .navbar-nav .nav-link {
  /* padding: 0 20px; */
  color: var(--black);
  transition: var(--transition);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar i:active {
  color: var(--primary);
} 

#dropdownMenuButton > i {
  font-size: 12px;
}

.navbar .dropdown button:hover {
  color: var(--primary);
}

.navbar .dropdown button {
  background: var(--white);
  text-transform: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.first-nav > div.d-flex.align-items-center.gap-3 > div.dropdown.show > div {
  box-shadow: var(--dropdown-box-shadow);
  outline: none;
  border: none;
}
 
.first-nav > div.d-flex.align-items-center.gap-3 > div.dropdown.show > div > a {
  font-weight: 500;
  font-size: 12px;
  background: transparent;
  color: var(--dropdown);
  padding: 10px 20px;
}

.first-nav > div.d-flex.align-items-center.gap-3 > div.dropdown.show > div > a:hover {
  color: var(--secondary);
}

.first-nav > div.d-flex.align-items-center.gap-3 > div:nth-child(2) > ul {
  box-shadow: var(--dropdown-box-shadow);
  left: -240px;
  width: 20rem;
}

.first-nav > div.d-flex.align-items-center.gap-3 > div:nth-child(2) > ul img {
  width: 5rem;
}

.first-nav ul .pro-name {
  font-size: 14px;
  font-weight: 500;
}

.first-nav ul .pro-price {
  font-size: 12px;
  font-weight: 500;
}

.first-nav .pro-remove i {
  color: var(--secondary);
}

.first-nav .pro-remove i:hover {
  color: var(--primary);
  box-shadow: none;
}

.first-nav .mini-cart .view_cart,
.first-nav .mini-cart .check_out {
  background: var(--secondary);
  color: var(--white);
  padding: 8px 12px;
  font-size: 12px;
}

.first-nav .mini-cart .view_cart:hover,
.first-nav .mini-cart .check_out:hover {
  background: var(--primary);
  color: var(--white);
  padding: 8px 12px;
  font-size: 12px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar i {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
} 

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
  color: var(--black);
}

#bar:hover,
#bar:active {
  color: var(--white);
}

body > header > nav > button {
  color: var(--white);
}

#offcanvasNavbar > div > ul {
  gap: 1rem;
}

.search-container {
  border: 1px solid var(--border);
  border-radius: 10px;
}

.search-bar {
  max-width: 800px;
  display: flex;
  padding: 2px;
  font-size: 12px;
  font-weight: 500;
}

.search-bar li:hover  {
  color: var(--secondary);
}

.search-bar input {
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
}

.search-bar i:hover {
  color: var(--primary);
}

#select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px 0 30px;
  cursor: pointer;
  position: relative;
  border-right: 1px solid var(--border);
}

#select ul {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: var(--white);
  color: #555;
  width: 100%;
  border-radius: 4px;
  z-index: 2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  box-shadow: var(--dropdown-box-shadow);
}

#select li {
  padding: 10px 20px;
}

#select ul.open {
  max-height: 300px;
}

#select > i {
  font-size: 12px;
}

.breadcrumb-nav {
  background: rgb(28,151,217);
  background: linear-gradient(107deg, rgba(28,151,217,1) 0%, rgba(28,172,217,1) 85%, rgba(28,148,217,1) 100%); 
}

.breadcrumb-item a {
  color: var(--white);
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--white);
}

.breadcrumb-item.active {
  color: var(--secondary);
}

/* ====== Mobile Nav ====== */

.navbar-light,
.navbar-toggler {
  border: none;
  outline: none;
}

/* ====== Side Menu ====== */

.side-menu .categories {
  border-radius: 5px 5px 0px 0px;
}

.side-menu .categories .head{
  border-radius: 5px 5px 0 0;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
}

.side-menu .categories .body {
  height: 88%;
}

#side-submenu > ul:nth-child(1) {
  padding-left: 0 !important;
  /* height: 17rem; */
}

.side-menu .categories ul li {
  list-style-type: none;
  cursor: pointer;
}

.side-menu .categories .d-ul {
  background: var(--white);
}

.side-menu .categories .d-ul .d-li:hover {
  color: var(--white);
  background: var(--primary);
}

.side-menu .categories ul li ul {
  display: none;
  z-index: 10;
  top: 12.8rem;
  box-shadow: var(--dropdown-box-shadow);  
  font-size: 12px;
}

.side-menu .categories ul li ul li {
  padding: 5px 0 5px;
}

.side-menu .categories ul li:hover ul {
  display: block;
  height: 20rem;
  margin-left: 12rem;
  padding: 5px 50px 5px 10px;
  position: fixed;
  border-radius: 5px ;
  background: var(--white);
  color: var(--black);
}

.side-menu .categories ul li:hover ul li:hover {
  color: var(--secondary);
}

.side-menu i{
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}

@media only screen and (max-width: 991px) {
  /* #side-submenu > ul:nth-child(1) {
    height: 8rem;
  } */
}


/* ====== Services ====== */
.services .service {
  background: var(--border);
  border-radius: 5px;
  height: 100%;
}

.services .service h4,
.services .service h5 {
  font-size: 14px;
}

/*====== Top Product ====== */

.owl-carousel img{
  height: 20vh;
}

.owl-carousel .product_thumb {
  border-radius: 20px;
  background: var(--primary);
  padding-bottom: 12px;
  color: var(--white);
  width: 110%;
  cursor: pointer;
}

.owl-carousel .product_thumb p {
  font-size: 1rem;
  font-weight: 600;
}

.owl-carousel .item .button-grp {
  text-align: center;
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s all;
  color: var(--black);
}

.owl-carousel .item:hover .button-grp {
  transform: translateY(-100px);
  opacity: 1;
}

.owl-carousel .item .button-grp i {
  font-weight: 700;
  background: var(--body);
}

.owl-carousel .item .button-grp i:hover {
  background: var(--secondary);
}

/*====== Top Categories ====== */
.top_categories .banner:hover {
  transform: perspective(10px)
} 

/*====== Featured ====== */
.product{
  cursor: pointer;
  margin-bottom: 2rem;  
}

.product .product-img-wrap img {
  width: 20vw;
  height: 10vw;
  box-sizing: border-box;
  object-fit: contain;
}

.product .product-content-wrap {
  background: var(--border);
}

.product:hover {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .button-grp {
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s all;
}

.product:hover .button-grp {
  transform: translateY(-150px);
  opacity: 1;
}

.product .button-grp i {
  font-weight: 700;
  background: var(--body);
}

.product .button-grp i:hover {
  background: var(--secondary);
}

.pro-heading, .p-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal h5 {
  font-size: 0.8rem;
  font-weight: 600;
}

.modal h4 {
  font-size: 1rem;
  font-weight: 600;
}

.modal a {
  color: var(--secondary);
  font-weight: 600;
}

#featuredQuickview .modal-dialog {
  max-width: 800px;
}

#featuredQuickview > div > div > div.modal-body > div > div:nth-child(2) > div > div.d-block.my-3 > input {
  background: var(--body);
  padding: 8px 8px 12px;
  width: 10%;

}

#featuredQuickview > div > div > div.modal-body > div > div:nth-child(2) > div > div.d-block.my-3 > input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}

#featuredQuickview > div > div > div.modal-body > div > div:nth-child(2) > div > div.d-block.my-3 > input:focus {
  outline: none;
}


@media only screen and (max-width: 991px) {
  #featuredQuickview .modal-dialog {
    max-width: 800px;
  }
}

/* ====== Exclusives ====== */
.exclusive{
  background: url(/assets/img/exclu.jpg);
  background-size: cover;
  height: 50vh;
}

.exclusive h3 {
  font-size: 2rem;
}

.exclusive a {
  background: var(--secondary);
}

.exclusive a:hover {
  background: var(--primary);
  color: var(--white);
}

.card-img-overlay {
  background: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;

}

.title_outer {
  position: relative;
}

.title_outer::before {
  border-top: 1px solid #d6d6d6;
  content: '';
  position: absolute;
  width: 96%;
  left: 0;
  bottom: 34px;
  z-index: -1;
}

.title_outer h4 {
  background-color: var(--body);
}

/* ====== footer ====== */

.footer {
  background: var(--black);
  color: var(--white);
  font-size: 14px;
}

.footer a {
  color: var(--white);
}

.footer a:hover {
  color: var(--primary);
}

.footer .first_footer {
  background: var(--secondary);
}

.footer .first_footer .input-group .form-control,
.footer .first_footer .input-group .button {
  border-radius: 0;
}

.footer .first_footer .input-group .button {
  background: var(--primary);
  color: var(--white);
}

.footer .first_footer .button:hover {
  background: var(--black);
  border: none;
  scale: 0;
}


.footer .third_footer ul,
.footer .fourth_footer ul {
  padding-left: 0;
}

.footer .third_footer .social-links i {
  background: var(--primary);
  font-size: 20px;
  transition: var(--transition);
  border-radius: 5px;
}

.footer .third_footer .social-links i:hover {
  background: var(--secondary);
  color: var(--white);
}

.footer .fourth_footer .item_row {
  border-right: 0.5px solid var(--primary);
}

.footer .fourth_footer .items {
  float: left;
  margin-bottom: 20px;
}

.footer .fourth_footer .item_name1 li  {
  float: left;
  margin: 4px 0;
  padding: 0px 5px;
  border-right: 0.5px solid var(--white);
}

.footer .fifth_footer p {
  font-size: 12px;
}

/* .side-menu .categories {
  padding: 1rem !important;
  background: var(--white);
} */

@media only screen and (max-width: 991px) {
  body > header > nav > div > button:hover,
  body > header > nav > div > button:focus {
    background-color: var(--primary);
    outline: none;
  }

  body > nav > div > button:hover #bar,
  body > nav > div > button:focus #bar, 
  body > nav > div > button #bar {
    background-color: var(--primary);
  }

  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0;
  }

  .side-menu .categories .head #close-btn {
    display: none;
  }

  #side-submenu {
    display: none;
  }

  /* ====== Featured ====== */
  .product .product-img-wrap img {
    width: 30vw;
    height: 30vw;
  }

    /* ====== Owl Carousel ====== */
  .owl-carousel img {
    height: 30vh;
  }
}

@media only screen and (max-width: 767px) {
    .product .product-img-wrap img {
    width: 70vw;
    height: 50vw;
  }

   /* ====== Owl Carousel ====== */
   .owl-carousel img {
    height: 35vh;
  }
}

