:root {
  --secondary: #ff3333;
  --primary: #1cacd9;
  --white: #fff;
  --yellow: #ffc107;
  --black: #000;
  --body: #f6f6f6;
  --border: #eee;
  --dropdown-box-shadow: 0 8px 8px -4px var(--primary);
  --dropdown: #555555;

  
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body);
}

/* section {
  margin-top: 20px;
  margin-bottom: 20px;
} */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

h6 {
  color: var(--white);
}

ul {
  font-weight: 500;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: var(--black);
  color: var(--white);
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: none;
}

button:hover {
  background-color: var(--primary);
}

hr {
  width: 100%;
  margin: 0 0 1rem 0;
  border-color: var(--primary);
}

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.8rem;
  color: goldenrod;
}
 
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  top: 0;
  left: 0;
  padding: 1rem 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: var(--black);
  transition: var(--transition);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar i:active {
  color: var(--primary);
} 

.navbar .dropdown button {
  background: var(--white);
  text-transform: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

#dropdownMenuButton > i {
  font-size: 12px;
}

.navbar .dropdown button:hover {
  color: var(--primary);
}

.first-nav > div.dropdown.show > div {
  box-shadow: var(--dropdown-box-shadow);
  outline: none;
  border: none;
}

.first-nav > div.dropdown.show > div > a {
  font-weight: 500;
  font-size: 12px;
  background: transparent;
  color: var(--dropdown);
}

.first-nav > div.dropdown.show > div > a:nth-child(n):hover {
  /* background-color: var(--primary); */
  color: var(--secondary);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar i {
  font-size: 1.2rem;
  padding: 3px 7px 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
} 

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
  color: var(--black);
}

#bar:hover,
#bar:active {
  color: var(--white);
}

body > header > nav > button {
  color: var(--white);
}

.search-container {
  border: 1px solid var(--border);
  border-radius: 10px;
}

.search-bar {
  max-width: 800px;
  display: flex;
  padding: 2px;
  font-size: 12px;
  font-weight: 500;
}

.search-bar li:hover  {
  color: var(--secondary);
}

.search-bar input {
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
}

.search-bar i:hover {
  color: var(--primary);
}

#select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px 0 30px;
  cursor: pointer;
  position: relative;
  border-right: 1px solid var(--border);
}

#select ul {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: var(--white);
  color: #555;
  width: 100%;
  border-radius: 4px;
  z-index: 2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  box-shadow: var(--dropdown-box-shadow);
}

#select li {
  padding: 10px 20px;
}

#select ul.open {
  max-height: 300px;
}

#select > i {
  font-size: 12px;
}

/* ====== Mobile Nav ====== */

.navbar-light,
.navbar-toggler {
  border: none;
  outline: none;
}

/* ====== Side Menu ====== */

.side-menu .categories {
  
  border-radius: 5px 5px 0px 0px;
}

.side-menu .categories .head{
  border-radius: 5px 5px 0 0;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
}

.side-menu .categories .body {
  height: 88%;
}

.side-menu .categories ul li {
  list-style-type: none;
  cursor: pointer;
}

.side-menu .categories .d-ul .d-li:hover {
  color: var(--primary);
}

.side-menu .categories ul li ul {
  display: none;
  z-index: 10;
  top: 12.8rem;
  box-shadow: var(--dropdown-box-shadow);  
  font-size: 12px;
}

.side-menu .categories ul li ul li {
  padding: 5px 0 5px;
}

.side-menu .categories ul li:hover ul {
  display: block;
  height: 25rem;
  margin-left: 13rem;
  padding: 5px 50px 5px 10px;
  position: fixed;
  border-radius: 5px ;
  background: var(--white);
}

.side-menu .categories ul li:hover ul li:hover {
  color: var(--secondary);
}


.side-menu i{
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}


/* ====== Services ====== */
.services .service {
  border-radius: 5px;
  height: 100%;
}

.services .service h4,
.services .service h5 {
  font-size: 14px;
}

/*====== Top Product and Top Category ====== */

.owl-carousel img{
  height: 20vh;
}

.owl-carousel .product_thumb {
  background: var(--white);
  padding: 15px 10px 12px 10px;
  width: 110%;
}

.owl-carousel .product_thumb:hover {
  opacity: 0.7;
  color: var(--primary);
  cursor: pointer;
}


.owl-carousel .product_thumb p {
  text-transform: none !important;
  font-size: 12px;
  font-weight: 500;
}


/*====== Featured ====== */
.product{
  cursor: pointer;
  margin-bottom: 2rem;  
}

.product .product-img-wrap img {
  width: 20vw;
  height: 10vw;
  box-sizing: border-box;
  object-fit: contain;
}

.product:hover {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .buy-btn {
  background: var(--primary);
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}

.product:hover .buy-btn {
 
  transform: translateY(0px);
  opacity: 1;
}

#featured > div.row.mx-auto.container-fluid > div:nth-child(n) > button:hover {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.3s all;
}

.title_outer {
  position: relative;
}

.title_outer::before {
  border-top: 1px solid #d6d6d6;
  content: '';
  position: absolute;
  width: 96%;
  left: 0;
  bottom: 34px;
  z-index: -1;
}

.title_outer h4 {
  background-color: var(--body);
}

.footer {
  background: var(--black);
  color: var(--white);
  font-size: 14px;
}

/* ====== Owl Carousel ====== */



/* body > header > section.top_categories > div > div.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-prev,
body > header > section.top_categories > div > div.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-next {
  background: var(--body);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: -18%;
} */

/* body > header > section.top_categories > div > div.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-prev:hover,
body > header > section.top_categories > div > div.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-next:hover {
  color: var(--primary);
  font-size: 20px;
}

body > header > section.top_categories > div > div.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-prev {
  right: 25px;
}

body > header > section.top_categories > div > div.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-next {
  right: 0px;
} */

.footer a {
  color: var(--white);
}

.footer a:hover {
  color: var(--primary);
}

.footer .first_footer {
  background: var(--primary);
}

.footer .first_footer .input-group .form-control,
.footer .first_footer .input-group .button {
  border-radius: 0;
}

.footer .first_footer .input-group .button {
  background: var(--yellow);
  color: var(--black);
}

.footer .first_footer .button:hover {
  background: var(--black);
  color: var(--primary);
  border: none;
  scale: 0;
}

.footer .second_footer {
  background: var(--black);
}

.footer .third_footer ul,
.footer .fourth_footer ul {
  padding-left: 0;
}

.footer .third_footer .social-links i {
  background: var(--primary);
  font-size: 20px;
  transition: var(--transition);
}

.footer .third_footer .social-links i:hover {
  background: var(--white);
  color: var(--black);
}

.footer .fourth_footer .item_row {
  border-right: 0.5px solid var(--primary);
}

.footer .fourth_footer .items {
  float: left;
  margin-bottom: 20px;
}

.footer .fourth_footer .item_name1 li  {
  float: left;
  margin: 4px 0;
  padding: 0px 5px;
  border-right: 0.5px solid var(--white);
}

.footer .fifth_footer p {
  font-size: 12px;
}

/* .side-menu .categories {
  padding: 1rem !important;
  background: var(--white);
} */

@media only screen and (max-width: 991px) {
  body > header > nav > div > button:hover,
  body > header > nav > div > button:focus {
    background-color: var(--primary);
    outline: none;
  }

  body > nav > div > button:hover #bar,
  body > nav > div > button:focus #bar, 
  body > nav > div > button #bar {
    background-color: var(--primary);
  }

  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0;
  }

  /* .side-menu .categories {
    padding: 0 !important;
    background: transparent;
  } */

  .side-menu .categories .head #close-btn {
    display: none;
  }

  #side-submenu {
    display: none;
  }

  /* ====== Featured ====== */
  .product .product-img-wrap img {
    width: 30vw;
    height: 30vw;
}

.owl-carousel img{
  height: 40vh;
}

.owl-carousel .product_thumb {
  background: var(--white);
  padding: 15px 10px 12px 10px;
  width: 100%;
}

}

@media only screen and (max-width: 767px) {
  .product .product-img-wrap img {
    width: 70vw;
    height: 50vw;
  }
}
