.wishlist .row {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 13px;
}

.wishlist i:hover {
  color: var(--secondary);
}

.wishlist h5 {
  font-weight: 600;
}

.wishlist a {
  color: var(--black);
}

.wishlist a:hover {
  color: var(--secondary);
}
