
/* ==== Wishlist Start==== */
.wishlist .pro-name a,
.wishlist a i:hover {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
}

.wishlist .pro-name a:hover,
.wishlist a i:hover {
  color: var(--secondary);
}

/* .orders .pro-qty, */
.wishlist .pro-qty {
  font-size: 1.3rem;
}

.wishlist .pro-price {
  font-weight: 600;
  font-size: 1.3rem;
}

.wishlist .list-group-item .button:hover {
  color: var(--white);
}
/* ==== Wishlist End ==== */